include README.md
include LICENSE
include pyproject.toml
include setup.py
include requirements.txt
include requirements-dev.txt
include Makefile
include make.bat
include .env.template
recursive-include src/tish_video_sdk *
recursive-include source *
recursive-include tests *
recursive-include examples *
